<div class="row">
    <div class="col-md-3">
        <!-- <span class="hipster img-fluid rounded"></span> -->
    </div>
    <div class="col-md-9">
        <!-- <h1 class="display-4">Welcome to IPL Crazy Play!</h1>
        <p class="lead">your game, your talent, your fortune!</p> -->

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <a class="btn btn-sm btn-success" (click)="login()">Sign in</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <a class="btn btn-sm btn-primary" routerLink="register">Register</a>
            </div>
        </div>
    </div>
</div>
